In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [2]:
df = pd.read_csv('tf_idf.csv')
df.head(10)

,terms,1,2,3,7,8,9,11,12,13,...,17,18,21,22,23,24,25,26,df,idf
0,overview,3.581,1.194,0.000,6.765,0.000,0.000,0.0,1.194,0.0,...,0.398,0.0,0.000,0.398,0.000,0.00,0.000,0.000,8,0.398
1,histor,2.786,0.398,0.398,0.398,0.000,0.000,0.0,0.796,0.0,...,0.000,0.0,0.398,0.000,0.000,0.00,0.000,0.000,8,0.398
2,perspect,3.815,0.000,0.347,5.549,0.000,1.387,0.0,0.694,0.0,...,0.347,0.0,3.468,10.750,0.000,0.00,0.000,0.347,9,0.347
3,explain,25.889,25.889,17.460,96.029,0.602,0.301,0.0,0.000,0.0,...,0.903,0.0,0.301,0.301,0.000,0.00,0.000,0.301,10,0.301
4,artifici,17.460,0.000,0.000,0.000,13.847,0.000,0.0,3.612,0.0,...,0.000,0.0,0.000,0.000,0.602,0.00,0.602,0.000,5,0.602
5,intellig,7.483,3.555,2.432,14.031,3.929,0.000,0.0,0.000,0.0,...,0.187,0.0,0.374,0.000,0.374,1.31,0.935,0.187,13,0.187
6,roberto,5.204,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.0,...,0.000,0.0,0.000,0.000,0.000,0.00,0.000,0.000,1,1.301
7,confalonieri,35.128,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.0,...,0.000,0.0,0.000,0.000,0.000,0.00,0.000,0.000,1,1.301
8,ludovik,2.602,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.0,...,0.000,0.0,0.000,0.000,0.000,0.00,0.000,0.000,1,1.301
9,coba,14.311,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.0,...,0.000,0.0,0.000,0.000,0.000,0.00,0.000,0.000,1,1.301

In [3]:
df = df.T
df = df.drop(df.index[0])
df = df.drop(df.index[-1])
df = df.drop(df.index[-1])

In [4]:
# store each row in numpy array and store them in a new column called "text"
df['text'] = [np.array(row) for row in df.values]

# drop the columns that contain the tf-idf values
df = df.drop(df.columns[0:15030], axis=1)

In [5]:
for i in df.index:
    if i == "1" or i == "2" or i == "3" or i == "7":
        df.at[i, 'class'] = "Explainable Artificial Intelligence"
    elif i == "8" or i == "9" or i == "11":
        df.at[i, 'class'] = "Heart Failure"
    elif i == "12" or i == "13" or i == "14" or i == "15" or i == "16":
        df.at[i, 'class'] = "Time Series Forecasting"
    elif i == "17" or i == "18" or i == "21":
        df.at[i, 'class'] = "Transformer Model"
    elif i == "22" or i == "23" or i == "24" or i == "25" or i == "26":
        df.at[i, 'class'] = "Feature Selection"

df.head(5)

,text,class
1,"[3.581, 2.786, 3.815, 25.889, 17.46, 7.483, 5....",Explainable Artificial Intelligence
2,"[1.194, 0.398, 0.0, 25.889, 0.0, 3.555, 0.0, 0...",Explainable Artificial Intelligence
3,"[0.0, 0.398, 0.347, 17.46, 0.0, 2.432, 0.0, 0....",Explainable Artificial Intelligence
7,"[6.765, 0.398, 5.549, 96.029, 0.0, 14.031, 0.0...",Explainable Artificial Intelligence
8,"[0.0, 0.0, 0.0, 0.602, 13.847, 3.929, 0.0, 0.0...",Heart Failure

In [6]:

# split the data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(df['text'], df['class'], test_size=0.2, random_state=42)

In [7]:

model = KNeighborsClassifier(n_neighbors=4)
model.fit(list(X_train), y_train)
y_pred = model.predict(list(X_test))

print("Accuracy:", accuracy_score(y_test, y_pred))
print("F1 Score:", f1_score(y_test, y_pred, average='weighted'))
print("Precision:", precision_score(y_test, y_pred, average='weighted'))
print("Recall:", recall_score(y_test, y_pred, average='weighted'))

Accuracy: 0.75
F1 Score: 0.7333333333333334
Precision: 0.8333333333333333
Recall: 0.75